*{
    box-sizing: border-box;
}

.root-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 30px;
    font-style: italic;
}

.input-box{
    width: 400px;
    height: auto;
    display: flex;
}

input{
    width: 100%;
    height: 40px;
    border: 1px lightgray solid;
    border-radius: 6px;
    padding: 10px;
}

button{
    width: 100px;
    height: 40px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    margin-left: 10px;

}

.list-box{

    width: 950px;
    display: flex;
    flex-wrap: wrap;
    
}

