*{
    box-sizing: border-box;
}

.form-container{
    width: 400px;
    height: auto;
    
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
}

input,select{
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    border: 1px lightgray solid;
    margin-bottom: 10px;
}

.title{
    font-size: 30px;
    font-style: italic;
    margin: 10px;
}

.submit-btn{
    width: 100%;
    height: 30px;
    border-radius: 6px;
    background-color: purple;
    color: white;
    border: none;

}